.popup {
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.text {
  color: white;
  font-size: 13px;
}

.row {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
}

.input {
  width: -webkit-fill-available;
}

.btn {
  color: white;
  border-radius: 2px;
}

.btn:last-child {
  margin-left: 10px;
}

.update {
  background-color: #009CA3;
  border-color: #00696E;
}

.insert {
  background-color: #009E2C;
  border-color: #00671F;
}

.remove {
  background-color: #DC3E00;
  border-color: #932B00;
}

.error {
  color: #DC3E00;
  font-size: 13px;
}

.center {
  justify-content: center;
}

.preview {
  font-size: 15px;
  font-weight: bold;
}

.holder {
  background-color: #FB8FFD;
  color: #320C4F;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: unset;
  height: 20px;
}

.copied {
  color: #009E2C;
  font-size: 13px;
}

.warning {
  color: #BCB200;
  font-size: 13px;
}
